<div id="background-image">
  <div id="filter">
    <div class="container position-relative top-50 start-0 translate-middle-y">
      <!-- Cabecera -->
      <div>
        <h2>Contacto</h2>
        <p>hazme llegar tu comentario, opinón, oferta ...</p>
      </div>

      <!-- Formulario de contacto -->
      <form id="form" class="col-lg-6 border border-primary rounded p-3 needs-validation" [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
        <div>
          <div class="d-flex my-2">

            <!-- Nombre -->
            <div>
              <input type="text"  placeholder="Nombre" formControlName="name" name="name" class="form-control"
                [ngClass]="this.contactForm.get('name')?.dirty ? (this.contactForm.get('name')?.valid ? 'is-valid':'is-invalid') : ''">
              <span class="invalid-feedback" *ngIf="this.contactForm.get('name')?.hasError('required')">Este campo no puede estar vacio</span>
            </div>

            <!-- Telefono -->
            <div class="ms-2">
              <input type="text" [placeholder]="'Teléfono'" formControlName="phone" maxlength="9" name="phone" class="form-control"
                [ngClass]="this.contactForm.get('phone')?.dirty ? (this.contactForm.get('phone')?.valid ? 'is-valid':'is-invalid') : ''">
              <span class="invalid-feedback" *ngIf="this.contactForm.get('phone')?.hasError('required')">Este campo no puede estar vacio</span>
              <span class="invalid-feedback" *ngIf="this.contactForm.get('phone')?.hasError('minlength')">Deben de haber 9 caracteres</span>
              <span class="invalid-feedback" *ngIf="this.contactForm.get('phone')?.hasError('pattern')">Debe de haber solo números</span>
            </div>
          </div>

          <!-- Email-->
          <div>
            <input type="email" [placeholder]="'Email'" formControlName="email" name="email" class="form-control my-2"
              [ngClass]="this.contactForm.get('email')?.dirty ? (this.contactForm.get('email')?.valid ? 'is-valid':'is-invalid') : ''">
            <span class="invalid-feedback" *ngIf="this.contactForm.get('email')?.hasError('required')">Este campo no puede estar vacio</span>
            <span class="invalid-feedback" *ngIf="this.contactForm.get('email')?.hasError('email')">Debe de ser un email válido </span>
          </div>
        </div>

        <!-- Mensaje-->
        <div>
          <textarea [placeholder]="'Escriba aqui su mensaje ...'" formControlName="message" name="message" class="form-control my-2 text-primary-light" rows="5"
            [ngClass]="this.contactForm.get('message')?.dirty ? (this.contactForm.get('message')?.valid ? 'is-valid':'is-invalid') : ''">
          </textarea>
          <span class="invalid-feedback" *ngIf="this.contactForm.get('message')?.hasError('required')">Este campo no puede estar vacio</span>
        </div>

        <!-- Boton Enviar -->
        <div class="d-flex">
          <button type="submit"
            class="btn btn-primary-light"
            [ngClass]="this.contactForm.valid && !this.sending ? 'btn-outline-secondary-light' : '' "
            [disabled]="!this.contactForm.valid || this.sending"
          >
            <span>Enviar</span>
          </button>
          <div *ngIf="this.sending" class="spinner-border text-primary-light align-self-center ms-2">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


